<% if logged_in? %>
  <p>ログイン完了ユーザ:<%= current_user.name %></p>
  
  <%= render "tasks/tasks", tasks: @tasks %>
<% else %>
  <h1>welcome to Tasklist</h1>
  
  <%= link_to "サインアップ", signup_path %>
  <%= link_to "ログイン", login_path %>
<% end %>