<% if logged_in? %>
  <ul>
    <li><a href = "/">Tasklist</a></li>
    <li><a href = "/logout">logout</a></li>
    <li><a href = "/signup">signup</a></li>
  </ul>
<% else %>
  <ul>
    <li><a href = "/">Tasklist</a></li>
    <li><a href = "/login">login</a></li>
    <li><a href = "/signup">signup</a></li>
  </ul>
<% end %>