<% if logged_in? %>
  <ul>
    <li><a href = "/", class = "navbar-brand">Tasklist</a></li>
    <li><a href = "/logout", class = "nav-link">logout</a></li>
    <li><a href = "/signup", class = "nav-link">signup</a></li>
  </ul>
<% else %>
  <ul>
    <li><a href = "/", class = "navbar-brand">Tasklist</a></li>
    <li><a href = "/login", class = "nav-link">login</a></li>
    <li><a href = "/signup", class = "nav-link">signup</a></li>
  </ul>
<% end %>